.list {
    padding: 20px;
    display: flex;

    align-items: center;
    background-color: blanchedalmond;
    border-radius: 5px;
}

.label {
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 20px;
    border-radius: 50%;
    background-color: red;
}

.green {
    background-color: green;
}

.avatar {
    width: 100px;
    margin-right: 20px;

}

.name {
    font-size: 30px;
    font-weight: 500;

    color: #000000;
}